<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Cadastro de Cliente</title>
    </head>
    <body>
        <form method="POST" action="cadastrar">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite o seu Nome aqui.">
            </div>
            <div>
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" placeholder="Digite o seu CPF aqui.">
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" placeholder="Digite o seu E-mail aqui.">
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite a sua Senha aqui.">
            </div>
            <div>
                <label for="date">Data Nascimento:</label>
                <input type="date" id="date" name="data_nasc">
            </div>
            <div>
                <label for="diagnostico">Diagnostico:</label>
                <input type="text" id="diag" name="diag" placeholder="Digite o seu diagnósitco aqui.">
            </div>
            <div>
                <label for="nivel_ativ">Nível das Atividades:</label>
                <input type="text" id="nivel_ativ" name="nivel_ativ" placeholder="Digite o seu diagnósitco aqui.">
            </div>
            <input type="hidden" name="tipo" value="paciente">
            <input type="submit" name="enviar" value="cadastrar"> <input type="reset" name="limpar" value="Limpar">
        </form>
        <br>
        <a href="home">Página Inicial</a>
    </body>
</html>