<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Definir Ativiades</title>
</head>
<body>

<h2>Defina as Atividades</h2>
<br>
<form method="POST" action="registroatividades">
    <select name="select">
      <option value="0">Atividade 1</option>
      <option value="1">Atividade 2</option>
      <option value="2">Atividade 3</option>
    </select>
    <br>
    <input type="hidden" name="tipo" value="definir">
    <input type="submit" name="registroatividades" value="registroatividades">
</form>
</body>
</html>