<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Procurar Paciente</title>
    </head>
    <body>
        <form method="POST" action="procurarpaciente">
            <div>
                <label for="cpf">Cpf do paciente</label>
                <input type="text" id="cpf" name="cpf" placeholder="Digite o cpf do paciente">
            </div>
            <input type="submit" name="enviar" value="Procurar"> <input type="reset" name="limpar" value="Limpar">
        </form>
        <br>
        <a href="menuprofissional">Voltar</a>
    </body>
</html>